.recipeholder{
  display: grid;
  grid-template-columns:auto auto;
  align-content: center;
  padding:0px 50px 50px 50px;
  grid-gap: 50px;
}
.recipeEdit{
    margin: 20px 0px 0px 20px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    background-color: $yellow;
    border-radius: 26px;
    padding: 10px 32px;
    border: none;
    float:left;
    text-decoration: none;
    cursor: pointer;
  }

.recipeEdit a:hover{
    text-decoration: none;
  }

  .delete{
    margin: 20px 0px 0px 20px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    background-color: $yellow;
    border-radius: 26px;
    padding: 10px 32px;
    float:left;
    cursor: pointer;
  }
